{% extends 'base.html' %}

{% block 'content' %}

{% if error_messages %}
<div class="error-messages">
  <p>로그인이 실패했습니다. 다시 입력하세요.</p>
</div>
{% endif %}

<div class="middle-container">
  <p class='text-center'>Login 하세요</p>
  <form action="{% url 'user:login' %}" method='POST'>
    {% csrf_token %}
    <div class='div-center' style='width: 70%'>
    <label for="">ID</label>
    <input type="text" name='username'>
    </div>
    
    <br>
    <div class='div-center' style='width: 70%'>
    <label for="">Password</label>
    <input type="password" name='password'>
    </div>
    <br>
    <input id='large-button' name="" class="text" value="제출" type="submit" >
  </form>
</div>




{% endblock %}
